
.display-4 {
    font-family: 'Fjalla One', sans-serif;
}

body .navbar .lead {
    font-family: 'Hind Madurai', sans-serif;
}

.jumbotron {
    max-height: 200px;
    margin: 0px;
}

.carousel-caption {

    font-family: 'Fjalla One', sans-serif;
}

.carousel-caption h1 {
    font-size: 600%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
}

.carousel-caption h3 {
    font-size: 150%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 3%;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 3%;
    background-color: black;
    color: white;
    text-align: center;
    opacity: 91%;
}

h6 {
    text-align: center;
}